@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto:wght@100;400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700");


h2,h1, h3 p{
  font-family: 'Roboto', sans-serif;
}

html{
  font-family: 'Roboto', sans-serif;
}

body{
  /* font-family: 'Noto Sans JP', sans-serif; */
  margin:0;
}
/* .youtube{
  border: 3px #F97D7D dashed;
  margin-top: 20px;
} */

button {

    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color:#F97D7D;
    border-radius: 8px;
  }

  .App {
    text-align: center;
  }
  
    .buttonSubmit{
      background-color:#F97D7D;
      font-family:"Roboto";
      color:#fff;
      border-radius:10px;
      width: 9vh;
      height:3vh;
    }


.socialLogin{
  height:20px;
}

.modalContent{
  width: 100%;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  background-color:rgba(0,0,0,0.8);
  display:flex;
  justify-content:center;
  align-items:center;

}

.containerContent{
  background-color:#fff;
  color:#000;
  /* width:20%;
  height:50%; */
  width:50vh;
  height:40vh;
  border-radius:20px;
}
  

  .closeContent {
    background-color:transparent;
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    right:0;
    cursor:pointer;
    top: 16px;
    display:flex;
    position:relative;
    align-items:center;
    font-family: "Roboto";
 }
  .closeContent:before, .close:after {
    content: ' ';
    position: absolute;
    width: 2.5 px;
    height: 24px;
    background-color: transparent;
    color:#000;
 }
  .closeContent:before {
    content: "X";
    /* transform: rotate(45deg); */
 }
  /* .closeContent:after { */
    /* transform: rotate(-45deg); */
 /* } */

  

.LinkLoginSignup{
  text-decoration: none;
  color:#aaa;
  cursor: pointer;
  transition: color 0.25s ease-in;
}

.LinkLoginSignup:hover{
  color:#00d1b2;
}


.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}


body.light-mode {
  background-color: white;
  /* color: #434c5e; */
  color:#000;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #2e3440;
  color: white !important;

  
}
.dark-mode-toggle button {
  color: #434c5e;
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ebcb8b;
    cursor: pointer;
    transition: color 0.3s ease;
   
}

.dark-mode-toggle {
  margin-right: 3rem;
  display: flex;
}
.dark-mode-toggle > button {
  font-size: 1.2em;
  background: none;
  border: none;
  color: #ebcb8b;
  /* color:white; */
  cursor: pointer;
  transition: color 0.3s ease;
}
.dark-mode-toggle > button:last-child {
  color:#2e3440;
}
.dark-mode-toggle > button:focus {
  outline: none;
}

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}
input[type='checkbox'].dmcheck:checked + label {
  left: 30px;
}
input[type='checkbox'].dmcheck:focus-visible {
  outline: solid 2px white;
}
input[type='checkbox'].dmcheck + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #f6f6f6;
}
.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.ant-carousel .slick-dots {
  text-align: center;
  height: 160px;
  line-height: 160px;
  overflow: hidden;
 
}
.ant-carousel .slick-dots li button {
  display: block;
  width: 100%;
  height: 3px;
  padding: 0;
  color: #00d1b2;
  font-size: 0;
  background: rgb(56, 53, 53);
  border: 0;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #00d1b2;
  opacity: 1;
}

.ant-carousel .slick-dots-bottom {
  bottom: -80px;
}

.SubTittleHome{
  font-family: 'Roboto';
  font-weight: bold;
  color:#8B8B8B;
  letter-spacing: 0px;
  opacity: 100%;
  font-size:30px;

}

.FocusMain{
  color:#F97D7D;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 5vh;
}
/* .btnLogin{
  background-color:#F97D7D;
  color:white;
  font-family: 'Roboto';
  border-radius:8px;
}
.btnSignup{
  background-color:#F97D7D;
  color:white;
  font-family: 'Roboto';
  border-radius:8px;
} */

.subTitle{
  font-family: 'Roboto';
  font-weight: bold;
  color:#8B8B8B;
  
}
.showModal{
  background-color: #03DAC6;
  border-radius:6px;
}
.ant-modal p{
  color:#707070;
  font-family: 'Roboto';
  font-weight:bold;
  text-align: center;
}
.ant-modal button.ant-btn.ant-btn-primary{
  background-color: #03DAC6;
  border-radius:6px;
  border:none;
}

.ant-modal button.ant-btn.ant-btn-primary:hover{
  background-color: #03DAC6;
  border-radius:6px;
  border:none;
  color:white;

 }

 .ant-modal button.ant-btn{
 border-radius: 6px;
  
}
.ant-modal button.ant-btn:hover{
  border-color: #F97D7D;
  color:#F97D7D;
}


  .loginLink{

    text-decoration: none;
    color:#3ACCE1;
    font-family:'Roboto', sans-serif;
  }

.nav-style{
  background-color:#F97D7D;
}

.focusNavbar{
  top: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: 0.26px;
  color: #FFFFFF;
  opacity: 1;
}

.login{
    color:#FFFFFF;
    text-align: left;
    font-size:12px;
    font-family:'Noto Sans JP', sans-serif;;
    letter-spacing: 0.3px;
    opacity: 1;
    font-weight: 500;
    text-decoration: none;
    top: 30px;

}

.login:hover{
  color:#03DAC6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.input{
  /* top: 290px; */
  left: 44px;
  width: 327px;
  height: 56px;
  background: #FFFFFF00 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 7px;
  opacity: 0.5;
  color: #434343;
}


/*GOOGLE BUTTON */
a {
 -webkit-tap-highlight-color: transparent;
 text-decoration: none;
}
.button {
 display: inline-block;
 max-width: 300px;
 margin-top: 50px;
 border: 0;
 padding: 0 18px;
 text-align: left;
 width: 100%;
 height: 37px;
 border-radius: 4px;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 /* -moz-font-feature-settings: "liga" on; */
 color: rgba(0, 0, 0, 0.84) !important;
 fill: rgba(0, 0, 0, 0.84) !important;
 box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
 font: inherit;
 outline: none;
}
.button .svgIcon {
 vertical-align: middle;
 fill: rgba(0, 0, 0, 0.54);
 padding-right: 4px;
 height: 37px;
 display: inline-block;
}

.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 200px;
    max-height: 250px ;
}

