@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto:wght@100;400;700&display=swap');

.ant-carousel .slick-dots {
  text-align: center;
  height: 160px;
  line-height: 160px;
  overflow: hidden;
 
}

.SubTittleHome{
  font-family: 'Roboto';
  font-weight: bold;
  color:#8B8B8B;
  letter-spacing: 0px;
  opacity: 100%;
  font-size:30px;

}
.subTitle{
  font-family: 'Roboto';
  font-weight: bold;
  color:#8B8B8B;
  
}

.iconFocus{
  color:#F97D7D;
  opacity: 100%;

}
h2,h1, h3 p{
  font-family: 'Roboto', sans-serif;
}

html{
  font-family: 'Roboto', sans-serif;
}

body{
  /* font-family: 'Noto Sans JP', sans-serif; */
  margin:0;
}
.youtube{
  border: 3px #F97D7D dashed;
  margin-top: 20px;
}

button {

    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color:#F97D7D;
    border-radius: 8px;
  }

  .loginLink{

    text-decoration: none;
    color:#3ACCE1;
    font-family:'Roboto', sans-serif;
  }
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-style{
  background-color:#F97D7D;
}

.focusNavbar{
  top: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: 0.26px;
  color: #FFFFFF;
  opacity: 1;
}

.login{
    color:#FFFFFF;
    text-align: left;
    font-size:12px;
    font-family:'Noto Sans JP', sans-serif;;
    letter-spacing: 0.3px;
    opacity: 1;
    font-weight: 500;
    text-decoration: none;
    top: 30px;

}

.login:hover{
  color:#03DAC6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.input{
  /* top: 290px; */
  left: 44px;
  width: 327px;
  height: 56px;
  background: #FFFFFF00 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 7px;
  opacity: 0.3;
}


/*GOOGLE BUTTON */
a {
 -webkit-tap-highlight-color: transparent;
 text-decoration: none;
}
.button {
 display: inline-block;
 max-width: 300px;
 margin-top: 50px;
 border: 0;
 padding: 0 18px;
 text-align: left;
 width: 100%;
 height: 37px;
 border-radius: 4px;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 /* -moz-font-feature-settings: "liga" on; */
 color: rgba(0, 0, 0, 0.84) !important;
 fill: rgba(0, 0, 0, 0.84) !important;
 box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
 font: inherit;
 outline: none;
}
.button .svgIcon {
 vertical-align: middle;
 fill: rgba(0, 0, 0, 0.54);
 padding-right: 4px;
 height: 37px;
 display: inline-block;
}

.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: 200px;
    max-height: 250px ;
}
